@media (min-width: 768px) {
    .w-md-50 {
       width:50% !important;
    }
  }

.carousel-caption h3 {
    margin-top: -20px; /* Ajuste o valor conforme necessário */
}

/* .carousel-item {
    height: 250px; /* Defina a altura desejada aqui 
    overflow: hidden; /* Oculta partes da imagem que não cabem 
}*/ 

.carrousel-img {
    opacity: 0.4;
} 